th {
  text-align: center !important;
  background-color: #cc0033;
  color: white;
  font-size: x-large;
  padding: 1rem;
  text-align: center;
}
table {
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
td {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 1rem;
}

#header {
    display: none;
}
